@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=GFS+Didot&family=Roboto:wght@400;500;700;900&display=swap");
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.dp-tog {
  display: none;
}

.didot {
  font-family: "GFS Didot", serif;
}

.good {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.icon-n {
  font-family: "GFS Didot", serif;
  font-style: italic;
  text-transform: lowercase;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.cursor {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f8f8f4;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
}

.mousemove {
  text-align: center;
  width: 150px;
  height: 150px;
  border: 1px solid #bb8d8d;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999;
}

.scrollEvtL {
  opacity: 0;
  transform: translateX(-10%);
  transition: 1s;
}

.scrollEvtR {
  opacity: 0;
  transform: translateX(10%);
  transition: 1s;
}

.scrollEvtB {
  opacity: 0;
  transform: translateY(100%);
  transition: 1s;
}

.scrollEvt {
  opacity: 0;
  transition: 1s;
}

main .grid-area {
  margin: 0 auto;
  display: grid;
  grid-auto-rows: auto;
  background-color: #191917;
  color: #f8f8f4;
}
main .grid-area .sec1 {
  position: relative;
  top: -20vh;
}
main .grid-area .sec1 .front-img {
  position: sticky;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 20%);
  max-width: 530px;
  z-index: 1;
}
main .grid-area .sec1 .front-img img {
  width: 100%;
}
main .grid-area .sec1 .back-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18vw;
  text-transform: uppercase;
  z-index: 0;
}
main .grid-area .sec1 .back-text .didot {
  z-index: 2;
}
main .grid-area .sec2 {
  z-index: 2;
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .grid-area .sec2 .basic-txt {
  margin-bottom: 2.5em;
}
main .grid-area .sec2 .basic-txt .underline {
  background: linear-gradient(#bb8d8d, #bb8d8d) no-repeat 0 100%/100% 2px;
}
main .grid-area .sec2 .add-txt {
  width: 40%;
  padding: 25px 0 70px;
}
main .grid-area .sec2 .trans-less {
  font-family: "Roboto", sans-serif;
  color: #bb8d8d;
  cursor: pointer;
  margin-bottom: 200px;
}
main .grid-area .sec3 {
  position: relative;
}
main .grid-area .sec3 .front-text {
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 200;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: right;
}
main .grid-area .sec3 .mySwiper .swiper-wrapper {
  left: 30%;
  display: flex;
  align-items: center;
}
main .grid-area .sec3 .mySwiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100vh;
}
main .grid-area .sec3 .mySwiper .swiper-wrapper .swiper-slide img {
  width: 40%;
}
main .grid-area .sec3 .mySwiper .swiper-wrapper .dark {
  background-color: #191917;
}
main .grid-area .sec3 .mySwiper .swiper-wrapper .light {
  background-color: #f8f8f4;
}
main .grid-area .sec3 .mySwiper .swiper-wrapper .swip0 {
  width: 40%;
}
main .grid-area .sec3 .mySwiper .swiper-wrapper .swip0 p {
  text-align: center;
}
main .grid-area .sec3 .mySwiper .swiper-wrapper .swip1 img {
  width: 40%;
}
main .grid-area .sec3 .mySwiper .swiper-wrapper .swip3 {
  width: 100%;
}
main .grid-area .sec3 .mySwiper .swiper-wrapper .swip3 img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .grid-area .sec4 {
  margin: 100px auto;
  width: 100%;
  height: 100vh;
  position: relative;
}
main .grid-area .sec4 .video {
  width: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
main .grid-area .sec4 .video .mousemove {
  top: 15%;
  left: 0;
  transform: translateX(-50%);
}
main .grid-area .sec4 .new-text {
  font-size: 6vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
}
main .grid-area .sec4 .col-text {
  font-size: 6.5vw;
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%) translateY(-50%);
}
main .grid-area .sec4 .col-text:nth-of-type(2) {
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%) translateY(-50%);
}
main .grid-area .sec4 .col-text:nth-of-type(3) {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}
main .grid-area .sec5 {
  display: flex;
  position: relative;
}
main .grid-area .sec5 .concept-left {
  overflow: hidden;
  width: 50%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}
main .grid-area .sec5 .concept-left a {
  color: #f8f8f4;
}
main .grid-area .sec5 .concept-left a .mousemove {
  bottom: 37%;
  right: 15%;
}
main .grid-area .sec5 .concept-right {
  overflow: hidden;
  width: 50%;
  padding: 0 55px;
  background-color: #f8f8f4;
  color: #191917;
}
main .grid-area .sec5 .concept-right .concept-title {
  text-align: center;
  font-size: 29vw;
  margin-bottom: 10vw;
  font-family: "Bebas Neue", cursive;
  line-height: 1.2em;
  transform: translateY(-15%);
}
main .grid-area .sec5 .concept-right p {
  font-family: "Bebas Neue", cursive;
}
main .grid-area .sec5 .concept-right .txt-mid {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 22.5vw;
}
main .grid-area .sec5 .concept-right .txt-bot {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 3vw;
}
main .grid-area .sec5 .concept-right .link-a {
  height: 5vw;
  display: block;
}
main .grid-area .sec5 .concept-right .link-a a {
  color: #bb8d8d;
}
main .grid-area .sec6 .lab-top {
  position: relative;
  height: 200vh;
}
main .grid-area .sec6 .lab-top .img-mouse {
  position: sticky;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 530px;
}
main .grid-area .sec6 .lab-top .img-mouse .mousemove {
  top: 70%;
  left: 0;
  transform: translate(-50%, -50%);
}
main .grid-area .sec6 .lab-top .lab-title {
  position: absolute;
  top: 0;
  left: 60%;
  z-index: 300;
}
main .grid-area .sec6 .lab-top .lab-title h2 {
  font-size: 30vw;
}
main .grid-area .sec6 .lab-mid {
  font-size: 20px;
  text-align: center;
  margin: 5vw auto;
}
main .grid-area .sec6 .lab-bot {
  margin: 0 5vw;
  line-height: 0.9;
  font-size: 55px;
}
main .grid-area .sec6 .lab-bot p:nth-child(1) {
  text-align: right;
}
main .grid-area .sec6 .lab-bot p:nth-child(2) {
  text-align: left;
}
main .grid-area .sec6 .lab-bot a {
  font-size: 16px;
  color: #bb8d8d;
  display: block;
  margin: 6vw auto;
  text-align: center;
}
main .grid-area .sec7 {
  background-color: #f8f8f4;
  color: #191917;
  height: 100vh;
}
main .grid-area .sec7 .smail-title {
  margin: 5vw auto;
  font-size: 20px;
  text-align: center;
}
main .grid-area .sec7 .our-logo {
  margin: 0 15vw;
  gap: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
main .grid-area .sec7 .our-logo a img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  display: block;
  transform: scale(0.4);
}
main .grid-area .sec8 {
  background-color: #f8f8f4;
  color: #191917;
  height: 100vh;
}
main .grid-area .sec8 .smail-title {
  margin: 5vw auto;
  font-size: 20px;
  text-align: center;
}
main .grid-area .sec8 .txt-link {
  margin: 0 15vw;
  font-size: 55px;
}
main .grid-area .sec8 .txt-link a {
  color: #191917;
}
main .grid-area .sec8 .txt-link a:hover {
  color: #bb8d8d;
}