@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=GFS+Didot&family=Roboto:wght@400;500;700;900&display=swap");

$didot: "GFS Didot", serif;
$Helvetica: "Roboto", sans-serif;
$good: "Bebas Neue", cursive;

$theme-color1: #191917;
$theme-color2: #f8f8f4;
$theme-color3: #bb8d8d;
$cursor-color: #e8e8e8;
