@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");

$didot: "GFS Didot", serif;
$Helvetica: Helvetica, sans-serif;

$theme-color1: #191917;
$theme-color2: #f8f8f4;
$theme-color3: #bb8d8d;
$cursor-color: #e8e8e8;
